#Authentification {

}

#window {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    border-radius: 50px;
}

.hidden {
    display: none;
}

.loginSignIn{
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.loginSignIn button {
    flex-shrink: 0;
    width: 45%;
    height: 50px;
}


.login {
    float: left;
    margin-left: 2%;
    border-radius: 30px 0 0 0;
}

.sign {
    float: right;
    margin-right: 2%;
    border-radius: 0 30px 0 0;
}

.recuperar {
    width: 100%;
    height: 80%;
}

.validate {
    width: 100%;
    height: 80%;
}

.servicios {
    height: 30px;
    width: 100%;
}