body {
}

/*#posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}*/

#posts .post {
    display: inline-block;
    width: 49.7%;
    margin-bottom: 10px;
    color: aliceblue;
}

.right {
    float: right;
}

.left {
    float: left;
}

.post {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    width: 700px;
    height: auto;
}

.usuario {
    display: grid;
    grid-template-columns:100px repeat(4, 1fr);
    grid-template-rows: repeat(2, 50px);
    margin: 20px;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    grid-area: 1/1/1/1;
}

.usuario p {
    text-align: left;
}

.btnConfig {
    grid-area: 1/5/2/5;
}

.pregunta {
    display: flex;
    margin: 20px;
    height: auto;
}

.respuestas {
    margin: 20px;
    background-color: rgb(255, 252, 252);
    border-radius: 60px;
    height: auto;
    padding-bottom: 30px;
}

.respuestas img {
    margin: 20px;
}

.respuesta {
    margin: 20px;
    padding: 20px;
}

.escribir-post {
    display: inline-block;
    width: 98vw;
    background-color: rgb(46, 49, 51);
    margin-bottom: 30px;
    height: auto;
}

.escribir-post img {
    margin: 20px;
}

input {
}

.escribir-post > .pregunta {
    justify-content: center;
}

.pregunta  textarea {
    width: 95%;
    border-radius: 20px;
    margin: 20px;
    height: auto;
    font-size: 25px;
    line-height: 1.5;
    word-wrap: break-word;
    padding:5px;
}

.postear {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.postear button {
    width: 300px;
    height: 50px;
    font-size: 20px ;
}

.respuesta {
    display: flex;
    flex-direction: column;
}

.btnErase {
    background-color: antiquewhite;
}

