#ecuacion {
    display: flex;
    justify-content: center;
    align-items: center;
}

#caja-ecuacion {
    display: flex;
    width: 500px;
    height: 500px;
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ecuacion {
    float: left;
}

.ecuigual {
    float: right;
}

#resultados {
    display: flex;
}

.box-resultados {
    float: left;
    background-color: antiquewhite;
}

.tabla {
    
}