body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../IMG/fondo.jpg');
    background-size: cover; 
    background-position: center center;
}

section {
    margin: 20px;
}

#ecuacion {
    text-align: left; /* Alinea el contenido a la izquierda */
    margin-bottom: 20px; /* Espaciado inferior */
}

#titulo-ecuacion {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: -10px;
    background-color: #7a81cf; /* Color de fondo para el título */
    padding: 10px; /* Espaciado interno para el título */
    border-radius: 5px; /* Bordes redondeados */
    display: inline-block; /* Permitir que el fondo se ajuste al contenido */
}

#caja-ecuacion {
    background-color: #7a81cf;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(52, 152, 219, 0.7);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.ecuacion {
    width: calc(100% - 16px);
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 16px;
    border: 2px solid #2980b9;
    border-radius: 5px;
    color: #333;
    transition: border-color 0.3s ease-in-out;
}

.ecuacion:focus {
    border-color: #7a81cf;
}



#resultados {
    display: flex;
    flex-direction: column; /* Cambiado a columna para apilar los elementos */
    align-items: center; /* Centrar los elementos horizontalmente */
    gap: 20px; /* Espaciado entre las secciones */
}

#titulo-resultados {
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
}

.box-resultados {
    background-color: #001f3f; /* Cambiado a un tono más oscuro de azul */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 31, 63, 0.7); /* Ajustado el tono de la sombra */
    width: 100%;
    max-width: 600px;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}

/* Efecto hover para cada casilla */
#caja-ecuacion:hover {
    background-color: #2c3e50; /* Tonalidad segundo color */
    transform: scale(1.02);
}

.ecuacion:hover {
    border-color: #2c3e50;
}

.box-resultados:hover {
    background-color: #154360; /* Tonos más oscuros de azul para el hover */
    /* transform: scale(1.05); Comentado para que no cambie de tamaño */
}

/* Responsivo */
@media only screen and (max-width: 600px) {
    #caja-ecuacion, .box-resultados {
        width: 100%;
    }
}


